/* Scroll suave */
html {
  scroll-behavior: smooth;
}


/* Barra navegacao */
nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  line-height: 3em;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 1.5em;
}

nav a {
  color: #79512a;
}

nav a:hover {
  color: white;
}

/* Link Inscricao */
.special { 
  color: white;
  padding: 0.5em;
  background-color: #79512a;
}

/* Header logotipo*/
header > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background-image: url("../img/lg/foto-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Logomarca */
.logo { 
  width: 25em;
  color:  #79512a;
  margin: 5em auto;
  text-align: center;
  border: 3px solid white;
  border-radius: 30px;
  border-right-style: none;
  border-left-style: none;
}

.logo > h1 {
  font-size: 40px;
  font-family: 'Merienda', cursive;
}

.logo > p {
  font-size: 25px;
  font-family: 'Cabin', sans-serif;
}
/*  */

/* Fundo texto */
main {
  background-color: #9bd9f0;
}

/* Seções */
.wrapper {
  max-width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
  top: -100px;
}

.section h1 {
  font-family: 'Cabin', sans-serif;
  color: #336699 ;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 3em 0 0.5em;
  margin-top: 0;
}

.section p {
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  color: #476b6b;
  line-height: 1.3 em;
}

.section {
  max-width: 80%;
  margin: 0 auto;
}
/**/

/* Flexbox & Linha borda inferior secao concurso */
#concurso .section {
  display: flex;
  flex-direction: row;
  min-height: 20em;
  border-bottom: 1px gray solid;
}

/* Position propriedade */
.data-area {
  position: relative;
  top: -60px;
}

.concurso-area {
  padding-right: 10em;
}

/* Estilo da tag Exposicao/Apresentacao  */
.data-subarea {
  min-width: 15em;
  padding: 1em;
  text-align: center;
  margin-bottom: 0;
  color: #FFF;
  background-color: #1e5e9e;
}

.data-subarea h4 {
  margin: 2.5em 0 1em;
} 
/**/

/* Botão Inscricao */
.btn-insc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-insc a {
  font-family: 'Cabin', sans-serif;
  color: white;
  margin-top: 2rem;
  padding: 1em;
  background-color: #336699;
  transition: ease-in .3s;
}

.btn-insc a:hover {
  transform: scale(1.1);
}
/**/

/* Formulário de inscrição */
form {
  max-width: 50ch;
  min-width: 500px;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 1em;
  padding: 1em;
}

.btn-form {
  text-align: center;
}
/**/

/* Rodapé */
footer {
  height: 1em;
  background-color: #336699;
}